/* CSS Reset */

body,html{
    margin: 0;
}

/* Fonts */

@font-face {
    font-family: titles;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: subTitles;
    src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: regularText;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: buttons;
    src: url(./fonts/Poppins-Medium.ttf);
}

h1{
    font-family: titles;
}

h2,h3,h4,h5{
    font-family: subTitles;
}

p,label,input{
    font-family: regularText;
}

button,li{
    font-family: buttons;
}


/* Color Variables */
:root {
    --primary: #0077b6;
    --secondary: #00b4d8;
    --optional: #fb8500;
    --white: #ffffff;
  }
  

/* Fields */
input{
    border: 0;
    padding: 5px;
    border-radius: 3px;
}
input:focus{
    border: 0;
    outline: none;
}


/* FullScreen Container */
.fullScreenContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.85);
}