.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.formContainer{
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 10px calc(5% + 5px) 10px 5%;
  border-radius: 7px;
}

.accountForm{
  width: 100%;
}

.formFieldContainer{
  width: 100%;
  margin: 10px;
}

.buttonsContainer{
  width: 50%;
  margin: 10px 0px;
}

.signUpBtn{
  cursor: pointer;
  background-color: var(--secondary);
  color: black;
  margin: 5px 0px;
  width: 100%;
  border: none;
  padding: 4px;
  border-radius: 3px;
}

.loginBtn{
  cursor: pointer;
  background-color: white;
  padding: 4px;
  margin: 5px 0px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.googleLogin{
  cursor: pointer;
  background-color: var(--optional);
  color: white;
  padding: 4px;
  margin: 5px 0px;
  width: 100%;
  border: none;
  border-radius: 3px;
}

.messageLog{
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0 0 10px 0px
}

.loginBtn:focus,.signUpBtn:focus{
   outline: none;
}

.homeTitle{
  color: white;
  text-align: center;
}

.taskBoardCardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.taskboardCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 20px);
  height: 30vh;
  margin: 10px;
  color: white;
  text-align: center;
  background-color: var(--primary);
  transition: .5s;
  cursor: pointer;
}

.taskboardCard:hover{
  transform: scale(.95);
}

.addTaskBoardIcon{
  width: 50%;
  height: 30%;
}

.taskCollectionsContainer{
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  width: 5000px;
  overflow-x: auto;
  width: calc(100% - 100px);
  height: calc(100vh - 120px);
 
}

.taskCollectionContainer{
  display: flex;
  color: white;
  width: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin: 10px;
  padding: 12px;
  flex: none;
  cursor: grab;
  border-radius: 5px;
}

.taskCollectionContainerCreator{
  display: flex;
  color: black;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(117, 117, 117, 0.159);
  margin: 10px;
  padding: 12px;
  flex: none;
  cursor: pointer;
  border-radius: 5px;
}

.addCollectionIcon{
  width: 50px;
  height: 50px;
}

.taskCreatorButton{
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  flex:none;
}

.iconCreateTaskCard{
  width: 25px;
  height: 25px;
  padding-right: 5px;
}

.editableText{
  cursor:text;
  min-width: 30px;
}

.editableText:hover{
  border: 1px solid;
  border-radius: 2px;
  padding: 1px;
}

.taskCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 10px;
  color: white;
  text-align: center;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 10px 0px;
}